 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="login" >Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="adminlogin" >Adminlogin</a>
          </li>
         
          
        </ul>
         
      </div>
    </div>


  </nav>
  <div>
    <hr style="height:12px;border-width:0;color:rgb(167, 16, 16);background-color:gray">

        <h1>Car KhaRido</h1>
    </div>
 