<!-- Navbar Section -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Car KhaRido</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="login">Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="adminlogin">Adminlogin</a>
              </li>
              <li class="nav-item">
                <app-searchbar></app-searchbar>
            </li>
          </ul>
      </div>
  </div>
</nav>

 

<section class="hero  text-white text-center py-5">
  <div class="container">
      <h1 class="display-4 fw-bold mb-4">Car KhaRido</h1>
      <p class="lead mb-5">Your one-stop destination for buying and selling cars. Start your journey now!</p>
      <a href="login" class="btn btn-primary btn-lg">Get Started</a>
  </div>
 

  <div class="product-wrapper ">
    <div class="card wish-list m-6 " *ngFor="let pro of products">
      <img src="{{pro.imageName}}"  class="card-img-top m-3" alt="Image" width="200" height="200">
  
      <div class="card-body">
        <p class="card-text">{{ pro.product_name }}</p>
        <p class="card-text">{{ pro.price }}</p>
        <p class="card-text">{{ pro.description }}</p>
      </div>
    </div>
  </div>
  
</section>








<app-login></app-login>
<!-- Hero Section -->


<!-- Footer -->
 
