.slider {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background: #f1f1f1;
}

.slide-track {
  display: inline-flex;
  animation: scroll 15s linear infinite;
}

.slide-track img {
  height: 500px;
  width: 600px;
  margin-right: 20px;
  border-radius: 10px;
  object-fit: cover;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
