<input 
  type="text"
  placeholder="Search product..."
  (input)="search($event)"
  class="form-control mb-3"
/>

<div class="product-wrapper ">
    <div class="card wish-list m-4 " *ngFor="let pro of products">
      <img src="{{pro.imageName}}"  class="card-img-top m-3" alt="Image" width="200" height="200">
  
      <div class="card-body">
        <p class="card-text">{{ pro.product_name }}</p>
        <p class="card-text">{{ pro.price }}</p>
        <p class="card-text">{{ pro.description }}</p>
      </div>
    </div>
  </div>
  

