 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"> <img th:src="@{images/1.jpg}"  src="../static/images/logo.png" width="auto" height="40" class="d-inline-block align-top" alt=""/>
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li class="nav-item active">
                      <a class="nav-link"  href=""  >Home</a>
                  </li>
                  <li> 
                      <a class="nav-link"  href="admin"  >Admin</a>
                  </li>
                   
    
      </ul>
      
    </div>
    </nav>
      <!-- Add a form to add new product -->
      <h1>Product Registration</h1>
      <div class="form-container">
      <form >
      <div class="input-container">
          <label for="productName">Product Name:</label>
          <input type="text" id="productName" name="product_name" [(ngModel)]="products.product_name" required><br>
          
            <label for="imageUrl">Product Image URL</label> 
            <input type="text" id="imageName" name="imageName" [(ngModel)]="products.imageName">
    
         
            <br>
          
          
          <label for="Price">Price:</label>
          <input type="number" id="Price" name="price" step="0.01"  [(ngModel)]="products.price" required><br>
          
          <label for="Description">Description:</label>
          <textarea id="Description" name="description" [(ngModel)]="products.description"></textarea><br>
          
          <label for="stockQuantity">Stock Quantity:</label>
          <input type="number" id="stockQuantity" name="stock_quantity" [(ngModel)]="products.stock_quantity" required><br>
       
          <button (click)="addProduct()" >submit</button>
         </div> </form>
          </div> 